<table class="outer" cellspacing="1">
	<tr class="<{cycle values="even,odd"}>">
    <td align="left"><{$smarty.const._MB_SMF_TOTALMEMBERS}>: </td>
		<td align="right"><{$block.content.members}></td>
  </tr>
	<tr class="<{cycle values="even,odd"}>">
    <td align="left"><{$smarty.const._MB_SMF_TOTALPOSTS}>: </td>
		<td align="right"><{$block.content.posts}></td>
  </tr>
	<tr class="<{cycle values="even,odd"}>">
    <td align="left"><{$smarty.const._MB_SMF_TOTALTHEME}>: </td>
		<td align="right"><{$block.content.topics}></td>
  </tr>
	<tr class="<{cycle values="even,odd"}>">
    <td align="left"><{$smarty.const._MB_SMF_TOTALCATEGORIES}>: </td>
		<td align="right"><{$block.content.categories}></td>
  </tr>
</table>